.footer {
  background-color: #3f3c2d;
  color: #e5e5c8;
  width: 100%;
}

.programmers-list {
  list-style: none;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.programmer-item {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;

}

.programmer-info {
  text-align: center;
  display: flex;
  flex-direction: column;
 
}

.programmer-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.programmer-details {
  display: flex;
  justify-content: center;
}

.programmer-role {
  display: flex;
  color: #ffffff;
  margin-right: 10px;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
}

.linkedin-icon,
.github-icon {
  color: #ffffff;
  margin-right: 5px;
}

@media (max-width: 400px) {

  .programmer-item {
    flex-basis: 50%;
    max-width: 50%;
  }
  .programmer-item:last-child {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .programmers-list {
    flex-wrap: wrap;
  }
  .programmer-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}