#filtrado {
  width: 350px;
  height: 150px;
  padding: 20px;
}

#filtrado .search {
  border-radius: 5px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4f09;
  cursor: pointer;
}

#filtrado .category-filter,
#filtrado .sort-by {
  cursor: pointer;
  margin-top: 10px;
}

#filtrado select {
  width: 100%;
  height: 25px;
  color: rgb(73, 73, 73);
}

.inpubarsearch {
  width: 100%;
  border-radius: 5px;
}

#sortBy,
#categoryDropdown {
  cursor: pointer;
  border-radius: 5px;
}
.search,
.sort-by,
.category-filter {
  justify-items: center;
  align-items: center;
  height: 25px;
  position: relative;
  border-radius: 5px;
  width: 100%;
}
