:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-color: #3f3c2d;
  --primary-color: #ff4f09;
  --background-color: #fffff7;
  --font-family: "Yanone Kaffeesatz", sans-serif;
}
