@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .card-image-container {
    text-align: center;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
   
    .card {
      max-width: 500px;
    }
  }