@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3f3c2d;
}

#root {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
  background-color: #e5e5c8;
  color: #3f3c2d;
}

.login-tex {
  position: absolute;
}

.login-text:hover {
  color: #305634;
  cursor: pointer;
  font-size: 1.03em;
}

.text-sm {
  font-size: 90%;
  font-weight: bold;
  height: 50px;
  margin-bottom: 10px;
}

#container_Products > div:nth-child(2) {
  width: 100%;
}

.card-image-container {
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.card-image {
  width: 180px;
  height: 190px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.space-x-2 {
  margin-left: 2px;
}

.tarjeta {
  background-color: #e5e5c8;

  height: 100%; /* Ajusta la altura según tus necesidades */
  width: 100%; /* Ajusta el ancho según tus necesidades */
}

/* MEDIAQUERY */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  /* justify-items: center;
  align-items: center; */
}

.noResults {
  text-align: center;
  font-size: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonP {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff8800;
  color: #fff;
}

.buttonP:hover {
  background-color: #b35c00;
}

/* Comic detail */

.button_cd1 {
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #d37100;
  color: #fff;
  margin-left: 30px;
}

.button_cd {
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff8800;
  color: #fff;
}

.button_cd:hover {
  background-color: #d4b492;
}

.img_cd {
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>")
    10% stretch;
}

.card-detail-container {
  background-color: #e5e5c8;
}

.mian_contaire_cd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.details_edc {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 905px) {
  .card {
    padding: 5px;
    font-size: 10px;
  }

  #filtrado {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .tarjeta {
    width: auto;
    background-color: #e5e5c8;
    width: 150px;
  }

  .container_Products {
    display: flex;
    flex-direction: column;
  }

  .text-sm {
    font-size: 10px;
  }

  .card-image-container {
    max-width: 150px;
    height: 150px;
  }
  .grid {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* gap: 20px;
    padding: 20px; */
    justify-items: center;
    align-items: center;
  }

  #container_Products {
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 615px) {
  #filtrado {
    display: flex;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
  }
  .details_edc {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .details_edc {
    align-items: center;
    text-align: center;
  }

  .description_cd,
  .price_cd,
  .editorial_cd,
  .autor_cd {
    font-size: 13px;
  }
  .title_cd {
    font-size: 20px;
  }

  .img_cd {
    height: auto;
    width: 1/2;
  }
}
